{% extends 'base.html' %}

{% block title %}ProMan{% endblock %}

{% block header %}ProMan{% endblock %}

{% block body %}

    {% include 'include/login.html' %}
    {% include 'include/register.html' %}
    {% include 'include/create-card.html' %}
    {% include 'include/create-column.html' %}
    {% include 'include/add-board.html' %}
    {% include 'include/add-private-board.html' %}
    {% include 'include/flashes.html' %}

    {% include 'include/navbar.html' %}

    {% include 'include/board-container.html' %}

{% endblock %}
